<html>
<head>
<title>Enterprise AI sentimental analysis</title>
<style>
.hed {
    backgroung-color: red;
}
td {
  padding-top: 50px;
  padding-right: 150px;
  padding-bottom: 50px;
  padding-left: 150px;
}
</style>
</head>
<body>
<center><table>
    <tr><td bgcolor="black" style="top: 0%;width: 5000px;height: 2px;padding-bottom: .5%;padding-top:.5%;"><center><h1 ><font color="yellow">Enterprise AI Sentimental Analysis</font></h1></center></td></tr></table></center>
<table align="center">
<tr>
<td>
<form method="post">
    <h2>input review:</h2>
<input type="text" placeholder="enter your text"><br><br>
<input type="submit" value="Analysis">
</form>
</td>
<td><img align="center" src="https://freepngimg.com/thumb/categories/1632.png" height="250" width="250"></td>
</tr>
</table>
<h1 align="center">Neutral</h1>
<h3 align="center">Your text is Neutral with 0.00%</h3>
</body>
</html>